nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  margin-left: 2rem;
  z-index: 2;
}

input {
  padding: 12px 20px;
  border: none;
  background: #e3e2e2;
  margin-left: 140px;
  border-radius: 10px;
  position: relative;
  width: 38rem;
}

::placeholder {
  color: black;
  opacity: 1; /* Firefox */
}

::-ms-input-placeholder {
  /* Edge 12-18 */
  color: black;
}
.nav-icons {
  width: 1.5rem;
  height: 1.5rem;
  margin-left: 2rem;
  color: #000;
}
